<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

<section class="pizza-logistics-card">

  <mat-card>
    <mat-card-header>
      <mat-card-title>New Order</mat-card-title>
    </mat-card-header>
      <mat-grid-list cols="4" rowHeight="60">
        <form [formGroup]="orderForm">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Customer Name" name="fullName" formControlName="fullName" value="">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value ? toppings.value[0].name : ''}}
                <span *ngIf="toppings.value?.length > 1">
                  (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingsList" [value]="topping">{{topping.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Size</mat-label>
            <mat-select formControlName="size">
              <mat-option *ngFor="let size of sizesList"  [value]="size.id">{{size.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button [disabled]="orderForm.invalid" class="full-width" mat-raised-button color="warn" (click)="placeOrderClick()">Place Order</button>
        </mat-grid-tile>
      </form>
      </mat-grid-list>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Open Orders</mat-card-title>
    </mat-card-header>
    <mat-grid-list cols="4" rowHeight="60">
      <ng-container>
        <mat-grid-tile colspan="4" *ngIf="!openOrderList || openOrderList.length === 0"><h3>No open orders</h3></mat-grid-tile>
      </ng-container>
      <ng-container *ngFor="let open of openOrderList">
        <mat-grid-tile>
          <mat-form-field>
            <input  class="order-number" matInput placeholder="Order #" [value]="open.id" disabled>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-form-field class="full-width">
            <input matInput md-truncate placeholder="Toppings" [value]="showToppings(open.toppings)" disabled>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <button class="pizza-button" (click)="sendToKitchenClick(open.id)" mat-raised-button color="warn">Send to Kitchen</button>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Ready for Delivery</mat-card-title>
    </mat-card-header>
    <mat-grid-list cols="4" rowHeight="80">
      <ng-container>
        <mat-grid-tile colspan="4" *ngIf="!readyForDeliveryList || readyForDeliveryList.length === 0"><h3>No orders ready for delivery</h3></mat-grid-tile>
      </ng-container>
      <ng-container *ngFor="let ready of readyForDeliveryList">
      <mat-grid-tile>
        <mat-form-field>
          <input class="order-number" matInput placeholder="Order #" [value]="ready.id" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field class="full-width">
          <mat-label>Drivers</mat-label>
          <mat-select #thisDriver>
            <mat-option *ngFor="let driver of driversList" [value]="driver.id">{{driver?.firstName +' '+ driver?.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="pizza-button" [disabled]="!thisDriver.value" mat-raised-button color="warn" (click)="assignForDeliveryClick(ready.id, thisDriver.value)">Assign</button>
      </mat-grid-tile>
    </ng-container>
    </mat-grid-list>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Delivered</mat-card-title>
    </mat-card-header>
    <mat-grid-list cols="4" rowHeight="70">
      <ng-container>
        <mat-grid-tile colspan="4" *ngIf="!deliveredList || deliveredList.length === 0"><h3>No orders delivered</h3></mat-grid-tile>
      </ng-container>
      <ng-container *ngFor="let delivered of deliveredList">
      <mat-grid-tile>
        <mat-form-field>
          <input class="order-number" matInput placeholder="Order #" [value]="delivered.id" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field class="full-width">
          <input matInput placeholder="Toppings" [value]="showToppings(delivered.toppings)" disabled>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="full-width">
          <input matInput placeholder="Driver" [value]="getDriver(delivered.driverId)" disabled>
        </mat-form-field>
      </mat-grid-tile>
    </ng-container>
    </mat-grid-list>
  </mat-card>

</section>
